<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dice Game</title>
</head>
<body>

<h1>Roll the dice!</h1>
<p>Make a guess</p>
<a href="/roll-dice/1">1</a>
<a href="/roll-dice/2">2</a>
<a href="/roll-dice/3">3</a>
<a href="/roll-dice/4">4</a>
<a href="/roll-dice/5">5</a>
<a href="/roll-dice/6">6</a>

<h1>Your choice:<span th:text="${choice}"></span></h1>

<h1>The dice landed on: <span th:text="${result}"></span> </h1>
<h1><span th:text="${match}"></span></h1>

</body>
</html>